body {
    font-family: Arial, sans-serif;
    background-color: pink;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(211, 145, 155);
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container_box {
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(220, 171, 178);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(211, 145, 155);
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }
}